@page
@model PrivacyModel
@{
    ViewData["Title"] = "Test Page";
}
<h1>@ViewData["Title"]</h1>
<div class="cl1">
    <div class="c2">
        <label class="lab1">Nom : </label><br>
        <input type="text" placeholder="nom" />
    </div>
    <div class="c2">
        <label class="lab1">Prenom : </label><br>
        <input type="text" placeholder="nom" />
    </div>
    <div class="c2">
        <label class="lab1">Date de Naissabce</label><br>
        <input type="date" placeholder="nom" />
    </div>
    <div class="c2">
        <label class="lab1">Login</label><br>
        <input type="email" placeholder="nom" />
    </div>
    <div class="c2">
        <label class="lab1">Mot de Passe</label><br>
        <input type="password" placeholder="nom" />
    </div>
    <input type="checkbox" placeholder="nom" />
    <div class="c2">
        <label class="lab1">accepter les privacies !</label><br><br>
        <input type="button" value="submit" />

    </div>
 </div>

